{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Compose Message{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Compose New Message</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
